body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: cursive;
}



.inputBox {
  margin-top: 4rem;

  input {
    width: 200px;
    min-height: 50px;
    box-sizing: border-box;
    text-align: center;
    border-top-right-radius: 10px;
    border: 4px solid greenyellow ;
  }

  #task {
    min-height: 50px;
    background-color: lightgreen;
    color: black;
    border: 4px solid rgb(206, 116, 191);
    border-radius: 10px;
    border-top-left-radius:0 ;
  }
}
.taskContainer {
  margin-top: 4rem;
  border: 2px solid black;
  min-height: 0;
  width: 70%;
  background-color: rgb(238, 255, 0);

  .newTaskContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    font-weight: 800;
    border-bottom: 1px solid gray;
  }

  h4{
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
  }
  
}
.active{
  text-decoration: line-through;
}

.fa-check-double{
    visibility: hidden;


}
.fa-check-double.show{
    color: green;
    margin-left: 20px;
    visibility: visible;

}


.groupBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  .delBtn {
    background-color: red;
    border: 4px solid white;
  }
  .markBtn {
    background-color: aqua;
    border: 4px solid lightgreen;
  }

  button {
    min-height: 40px;
    width: 100px;
    border-radius: 10px;
  }
}
